<html>
    <head>
        <title>Shani's blog</title>
    </head>
    <body>
	<h1>Welcome to My Blog!</h1>

	<ul>
	<li>New Posts</li>
	<li>Old Posts</li>
	</ul>


	<h3>I'm Shani Shiri, DevOps engineer at NICE Ltd.</h3>

	<h4><p>DevOps Engineer with Administration experience of complex R&D, Development and Production AWS Cloud environments.
	Design, deploy and support Nice’s Cloud solution comprised of multiple Dockerized microservices written in Java, and 		also monitor to ensure service availability.

	Hardworking with excellent technical skills, responsible, fast learning, excellent problem-solving and research 	abilities, managing skills, high-energy, motivated and with great personal relation.</p></h4>


  <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Infrastructure as Code</a></h2>
            <p>Infrastructure as code (IaC) is the process of managing and provisioning computer data centers through 			machine- readable definition files, rather than physical hardware configuration or interactive configuration 			tools.[1] Both physical equipment such as bare-metal servers as well as virtual machines and associated 		configuration resources are called "infrastructure", although they have nothing to do with actual 			infrastructure. The definitions may be in a version control system. It can use either scripts or declarative 			definitions, rather than manual processes, but the term is more often used to promote declarative 			approaches..</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta 			gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>



	</br>
	</br>


	<emp>This site was created with the help of djangogirls.</emp>
	<emp>Visit their website:</emp>
	<br>
	<a href="https://djangogirls.org">link</a>
    </body>
</html>
