<html>
    <head>
        <title>Shani's blog</title>
    </head>
    <body>
	<h1>Welcome to My Blog!</h1>

	<ul>
	<li>New Posts</li>
	<li>Old Posts</li>
	</ul>


	<h3>I'm Shani Shiri, DevOps engineer at NICE Ltd.</h3>

	<h4><p>DevOps Engineer with Administration experience of complex R&D, Development and Production AWS Cloud 		environments.
	Design, deploy and support Nice’s Cloud solution comprised of multiple Dockerized microservices written in Java, and 		also monitor to ensure service availability.

	Hardworking with excellent technical skills, responsible, fast learning, excellent problem-solving and research 	abilities, managing skills, high-energy, motivated and with great personal relation.</p></h4>


      {% for post in posts %}
    	 <div>
        <p>published: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    	</div>
      {% endfor %}


	</br>
	</br>


	<emp>This site was created with the help of djangogirls.</emp>
	<emp>Visit their website:</emp>
	<br>
	<a href="https://djangogirls.org">link</a>
    </body>
</html>
